{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <!-- Box Icons   -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="{% static 'favicon.png' %}">
</head>

<body>

{% block navbar %}
    <!-- Navbar -->
    <header>
        <a href="{% url 'store:index' %}" class="logo animation-item">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </a>
        <!-- Menu-Icon -->
        <i class="bx bx-menu animation-item" id="menu-icon"></i>
        <!-- Links -->
        {% block menu %}
        <ul class="navbar animation-item">
            <li><a class="scroll-link" href="#home">Головна</a></li>
            <li><a class="scroll-link" href="#about">Про Нас</a></li>
            <li><a class="scroll-link" href="#products">Асортимент</a></li>
            <li><a class="scroll-link" href="#customers">Відгуки</a></li>
        </ul>
        {% endblock %}
        <!-- Icon -->
        <div class="header-icon animation-item">
            <i class="bx bx-cart-alt" id="open-cart-modal"></i>
            <i class="bx bx-search" id="search-icon"></i>
        </div>

        <!-- Search Box -->
        <div class="search-box animation-item">
            <form action="/search" method="GET" id="search-form">
                <label for="search-input"></label>
                <input type="search" id="search-input" name="search" placeholder="Пошук товару">
             </form>
        </div>
    </header>
{% endblock %}

{% block home %}
    <!-- Home -->
    <section class="home" id="home">
        <div class="intro-container animation-item-second">
            <div class="home-text">
                <h1 style="color: var(--bg-color) !important;">Рибний смак </h1>
                <br>
                <h3>Ми пропонуємо широкий асортимент свіжих морепродуктів і риби.
                    Незалежно від того, де ви знаходитесь в Україні, "Рибний смак" забезпечує швидку доставку,
                    щоб ви могли насолоджуватися свіжістю і якістю наших продуктів.
                </h3>
                <h3>Особлива гордість нашого магазину - це самостійно копчена та в'ялена риба.
                    Завдяки багатому досвіду та натхненню нашого власника, кожна порція готується з особливою любов'ю і турботою.
                </h3>

                    <a href="{% url 'store:products' 'all' %}" class="add-cart-button" style="width: 220px; height: 34px;">Замовити Онлайн</a>
                <br>
            </div>
        </div>
        <div class="home-img animation-item-second">
            <img src="{% static 'img/main.png' %}" alt="">
        </div>
    </section>
{% endblock %}

{% block categories %}{% endblock %}

{% block about %}
    <!--  About  -->
    <section class="about animation-item-second" id="about">
        <div class="about-img">
            <img src="{% static 'img/about.jpg' %}" alt="">
        </div>
        <div class="about-text">
            <h2>Наша Історія</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque debitis facilis in nam natus nemo nobis
                porro, quia recusandae similique.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad distinctio doloremque dolores eius
                eligendi esse et expedita officiis suscipit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad in ipsa minima rerum voluptatum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque debitis facilis in nam natus nemo nobis
                porro, quia recusandae similique.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad distinctio doloremque dolores eius
                eligendi esse et expedita officiis suscipit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad in ipsa minima rerum voluptatum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque debitis facilis in nam natus nemo nobis
                porro, quia recusandae similique.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad distinctio doloremque dolores eius
                eligendi esse et expedita officiis suscipit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad in ipsa minima rerum voluptatum!</p>
            <br>
            <a href="#" class="add-cart-button" style="width: 220px; height: 34px">Дізнатися Більше</a>
        </div>
    </section>
{% endblock %}




<!-- Products content section -->
<main>
    {% block content %}{% endblock %}
</main>

<div id="cart-modal" class="product-modal">
  <div class="product-modal-content">
    <span id="close-cart-modal" class="close">&times;</span>
            <div class="modal-body">
                <h4 class="card-title">Ваше замовлення</h4>
                <br>
                <div data-cart-empty class="alert alert-secondary" role="alert">
                    Кошик порожній
                </div>
                <!-- cart-wrapper -->
                <div class="cart-wrapper">
                </div>
                <!-- // cart-wrapper -->
            </div>

    <!-- Оформить заказ -->
    <div id="order-form" class="card-body border-top none">

        <!-- Стоимость заказа -->
        <div class="cart-total">
            <p><span class="h5">Доставка:</span> <span class="delivery-cost">50 ₴</span> </p>
            <p><span class="cart-item__weight">Безкоштовно по Києву - при замовленні від 1000 ₴). Доставка по Україні згідно з тарифом Нової Пошти.</span> </p>
            <p style="margin-top: 5px"><span class="h5">Загалом до сплати:</span> <span id="totalPrice" class="total-price">0</span> <span class="hryvna">₴</span></p>
        </div>
        <br>
        <!-- // Стоимость заказа -->

        <h4 class="card-title">Оформити замовлення</h4>
        <form>
            <div class="form-group">
                <label>
                    <input type="number" name="phone" id="userPhone" class="form-control" placeholder="Номер телефону" required>
                </label>
                <label>
                    <input type="email" name="email" id="userEmail" class="form-control" placeholder="E-mail" required>
                </label>
                <label>
                    <input type="text" id="userCity" class="form-control" placeholder="Місто" required>
                </label>
                <label>
                    <input type="text" id="userAddress" class="form-control" placeholder="Адреса" required>
                </label>
            </div>
        </form>
        <div class="order-button-container" style="display: grid; justify-content: center; align-content: center;">
            <button class="add-cart-button" id="orderButton" style="width: 190px; height: 34px; margin-bottom: 10px; margin-top: 5px">Замовити</button>
            <br>
        </div>
    </div>
  </div>
</div>

<!-- Footer  -->
<section class="footer ">
    <div class="footer-box ">
        <h2>Рибний Смак</h2>
        <p> Ваш надійний постачальник широкого асортименту свіжих морепродуктів та риби.
            Замовляйте у нас, щоб насолоджуватися неперевершеним смаком моря та кулінарними радощами.</p>
    </div>
    <div class="footer-box ">
        <h3>Підтримка</h3>
        <li><a href="#">Часті Запитання</a></li>
        <li><a href="#">Умови</a></li>
    </div>
    <div class="footer-box ">
        <h3>Корисна Інформація</h3>
        <li><a href="#">Блог</a></li>
        <li><a href="#">Рецепти</a></li>
        <li><a href="#">Поради</a></li>
    </div>
    <div class="footer-box ">
        <h3>Контакти</h3>
        <li><span><i class="bx bxs-map"></i> Київ, Україна</span></li>
        <li><span><i class="bx bxs-phone"></i> +380 68 726 41 01 </span></li>
        <li><span><i class="bx bxs-envelope"></i> Rybniismak@gmail.com</span></li>
    </div>

</section>
<!--    Copyright-->
    <div class="social ">
        <a class="animation-item-second" href="#"><i class='bx bxl-facebook'></i></a>
        <a class="animation-item-second" href="#"><i class='bx bxl-instagram'></i></a>
        <a class="animation-item-second" href="#"><i class='bx bxl-tiktok'></i></a>
    </div>
<div class="copyright ">
    <a style="color: black; text-decoration: underline" href="https://github.com/Ayshyama"><p>&copy; Рибний Смак 2023</p></a>
</div>

<!-- Link to JS -->
<script src="{% static 'js/main.js' %}"></script>

</body>

    {% include 'order_script.html' %}

    <script src="{% static 'js/calcCartPrice.js' %}"></script>
    <script src="{% static 'js/toggleCartStatus.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/localStorage.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
</html>